body {
    padding:0;
    margin:0;    
    font-family:Avenir, Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
}

/** Z-INDEX **/

._jsPlumb_connector { z-index:18; }
._jsPlumb_endpoint { z-index:19; }
._jsPlumb_overlay { z-index:20; }


/** ELEMENTS **/
.node {
    background-color:white;
    border:1px solid darkgray;
    z-index:24;
    cursor:pointer;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    width: max-content;
    padding:0.5em;
    line-height: 2em;
}

#map-container .node {
    position:absolute;
}

#toolbox .node {
    margin: 5px;
}

#plus, #minus {
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

#plus {
    border: 1px solid #12e712;
    color: #12e712;
}

#minus {
    border: 1px solid red;
    color: red;
}

#label {
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 0.5em;
    color:#123456;
}

.node:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    filter:alpha(opacity=90);
}

path, ._jsPlumb_endpoint { cursor:pointer; }
